.containerv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of screen */
    gap: 20px; /* Space between buttons */
  }
  
  .my-buttonv {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }